@import "tailwindcss";

@theme inline {
  --font-pixel: var(--font-pixel);
  --font-dot-gothic: var(--font-dot-gothic);
  --color-background: #c0c0c0;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #c0c0c0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

@keyframes sweep {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(500px);
  }
}

.animate-sweep {
  animation: sweep 2s linear infinite;
}

@keyframes bounce-angry {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-angry {
  animation: bounce-angry 0.3s ease-in-out infinite;
}
